h1{
    color: #8e2727;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}
body {
    font-family: Arial, sqquare, sans-serif;
    background-color: #98d9d9;
    margin: 0;
    padding: 0;
    text-shadow: 345px 2px 4px #aaa;

}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}